/* ==================== VARIABLES ==================== */
:root {
  /* Color palette */
  --clr-bg-app: #23252c;
  --clr-bg-card: #1a1b21;
  --clr-primary: #5093e2;
  --clr-accent: #f3bf99;
  --clr-neutral: #918e9b;

  /* Radii */
  --radius-sm: 5px;
  --radius-md: 10px;
}

/* ==================== RESET ==================== */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-width: 300px;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--clr-bg-app);
  display: flex;
  place-content: center;
  padding: 4em 0;
}

/* ==================== LAYOUT (CARD WRAPPER) ==================== */
#root {
  border-radius: var(--radius-md);
  overflow: hidden;
  max-width: 300px;
  background-color: var(--clr-bg-card);
  color: #ffffff;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* ==================== HEADER ==================== */
.header {
  text-align: center;
}

.header .profile-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.header img {
  width: 100%;
  object-fit: cover;
  object-position: center top;
  transform-origin: 60% 40%;
  transform: scale(1);
}
.container {
  width: 80%;
  margin-inline: auto;
}

.header h1 {
  font-size: 1.6rem;
  margin-bottom: 0;
  font-weight: 700;
}

.header h2 {
  font-size: 0.8rem;
  color: var(--clr-accent);
  margin-top: 0.25em;
  font-weight: 400;
}

.header h3 {
  font-size: 0.64rem;
  font-weight: 400;
}

.header_buttons-container {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-top: 1.25em;
}

.header i {
  margin-right: 0.5em;
}

/* ==================== BUTTONS ==================== */
.button {
  display: inline-block;
  width: 120px;
  padding: 0.65em 1em;
  font-size: 0.875rem;
  font-weight: 500;
  background-color: #ffffff;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}

.button-blue {
  background-color: var(--clr-primary);
  color: white;
}

.main h3 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.main p {
  font-size: 0.64rem;
  line-height: 1.5;
  font-weight: 300;
}

/* ==================== FOOTER ==================== */
.footer {
  padding: 1em 0;
}

.footer_social-networks {
  display: flex;
  justify-content: center;
  font-size: 1.56rem;
  gap: 1em;
}

.footer_social-networks a {
  color: var(--clr-neutral);
}
